<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Cambiar contraseña</h3>
        <p class="text-center">Ingresa tu correo electronico.</p>
        <div class="formGroup">
          <input type="email" class="form-control" placeholder="Correo electrónico" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <br>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Enviar solicitud de cambio de contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <br>
      <div class="btn btn-danger" >
        <span>Regresar: <span class="redirect" routerLink="/sign-in">Iniciar sesión</span></span>
      </div>
    </div>
  </div>